body{
  color: #555;
  background-color: #f4f4f4;
  margin:0;
}

.button{
  background-color: #333;
  color:#fff;
  padding: 5px 5px;
  border: none;
}
.button:hover{
  background: red;
  color:#fff;
}

#navbar{
  background-color: #333;
  color: #fff;
  margin:0;
}

#navbar ul{
  padding:0;
  list-style: none;
  margin:0;
}

#navbar li{
  display: inline;

}

#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;


}

.wrapper{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
.form{
  padding: 20px;
  width: 80%;
}

.form label{
  display: block;
}

.form .form-group{
  padding-bottom: 15px;
}

.form input[type="text"], .form input[type="password"],{
  padding: 8px;
  width : 40%;
}
.form input[type="textfield"]{
  padding: 8px;
  width : 60%;
}
#container{
  padding: 20px;
  width: 80%;

}
#container label{
  padding: 20px;
}
.contbutton{
  padding-left: 20px;
}

.errors{
  margin: auto;
  overflow: hidden;
}
.errors p{
  color: red;
  background: pink;
}

.index-intro{
  width:80%;
  margin: auto;
  overflow: hidden;
}
#container2 img{
  display: block;
  max-width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#sub_answer_container p{
  margin: 0;
}

table, th, td{
  border: 1px solid;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.indent{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#show_image img{
  display: block;
  max-width: 30%;
  height: auto;
}
